{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pension/style.css' %}" />

{% block content %}
<header>
        <h1> Pension for project 3 in Python by Django</h1>

</header>
<section>
    <h3>Welcome {{ user.get_username }}</h3>
     <div class="navbar">
        <a href="../">Home</a>
      {% if rooms %}
          <div class="dropdown">
            <button class="dropbtn">Rooms
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
            {% for room in rooms %}
                <a href="{% url 'pension:detail' room.id %}">{{ room.name}}</a>
            {% endfor %}
            </div>
              {% else %}
            <p>No rooms are available.</p>
            {% endif %}
          </div>
         <a href="{% url 'pension:reservation' %}">Reservation</a>
         <a href="{% url 'pension:comment' %}">Comment us</a>
         <a href="{% url 'pension:contact' %}">Contact</a>
    </div>

</section>
{% endblock%}

<h3 align="center"> Name: Pensjonat for project 3 </h3>
<h4 align="center"> Adress: 21 Kawiory Street , 30-055 Krakow</h4>
<h4 align="center"> Email: mz4900@gmail.com</h4>
<h4 align="center"> Phone: +48 123 123 123</h4>

