{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pension/style.css' %}" />

{% block content %}
<header>
        <h1> Pension for project 3 in Python by Django</h1>

</header>
<section>
    <h3>Welcome {{ user.get_username }}</h3>
     <div class="navbar">
        <a href="#">Home</a>
      {% if rooms %}
          <div class="dropdown">
            <button class="dropbtn">Rooms
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
            {% for room in rooms %}
                <a href="{% url 'pension:detail' room.id %}">{{ room.name}}</a>
            {% endfor %}
            </div>
              {% else %}
            <p>No rooms are available.</p>
            {% endif %}
          </div>
         <a href="{% url 'pension:reservation' %}">Reservation</a>
         <a href="{% url 'pension:comment' %}">Comment us</a>
         <a href="{% url 'pension:contact' %}">Contact</a>
    </div >
    <div align="center">
    <h2> Comments from guests:</h2>
    {% for c in comments %}
      <div class="page-header">
        <h5>{{ c.name }}</h5>
      </div>
      <div class="well">
        <p>{{ c.comment }}</p>
      </div>
    {% endfor %}
    </div>
</section>
{% endblock%}